// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #FF9952;
$green: #1EDD88;
$gray: #544949;;
$light-gray: #F4F4F4;
$light-black: #2d2a24;
