// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #ff9952;
$green: #01ab83;
$gray: #544949;
$light-gray: #f4f4f4;
$light-black: #2d2a24;
