<p>
  <strong>Olá <%= @user.name %></strong>. Sou a Malu, fundadora da <strong>Nufiu</strong>, e gostaria de agradecer por você ter visitado e se cadastrado no nosso site. Espero que tenha gostado dos nossos produtos e serviços, que fazemos com muito carinho, e fico à disposição caso você tenha dúvidas.
</p>
<p>Para acompanhar as novidades e ver dicas de cuidados com plantas, além do nosso site, você pode acompanhar o nosso <a href="https://www.instagram.com/nufiu_jardinagem/">perfil no Instagram</a> ou no <a href="https://www.facebook.com/NuFiu">Facebook</a>.</p>
<p>Até mais!</p>
<p><strong>Malu Borges</strong></p>
<p>Nufiu Jardinagem</p>
<p><a href="https://www.nufiu.com.br">www.nufiu.com.br</a></p>