.cart {
  width: 80%;
  margin: 4em 3em;
  margin-bottom: 2em;
}

.cart-line {
  margin-bottom: 1.4em;
}

.cart-plant-img {
  // img {
  //   border-radius: 50%;
  //   max-height: 80px;
  //   object-fit: contain;
  // }
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  img {
    display: inline;
    margin: 0 auto;
    min-height: 80px;
    min-width: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.cart-plant-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  #cart-plant-name {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0;
  }
  #cart-plant-amount {
    margin-bottom: 0;
  }
}

.cart-plant-edit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    font-size: 1.2em;
    white-space: nowrap;
    a {
      text-decoration: none;
      color: #85c6b6;
    }
  }
}

.cart-plant-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  margin-bottom: 0;
}

.cart-total {
  p {
    color: $green;
    font-size: 2em;
    font-weight: bold;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

#esvaziar {
  margin-bottom: 2em;
  text-align: center;
  a {
    text-decoration: none;
    color: $green;
  }
}

.cart-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
  #continuar-comprando {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: $green;
    }
  }
  #continuar-comprando {
    margin-top: 2em;
    a {
      font-weight: bold;
    }
  }
}

.pedido-finalizado {
  width: 80%;
  margin: 4em 4em;
}

@media screen and (max-width: 520px) {
  .cart-plant-img {
    width: 50px;
    height: 50px;
    img {
      min-height: 50px;
      min-width: 50px;
    }
  }
  .cart-plant-info {
    padding-left: 0;
    #cart-plant-name {
      font-size: 1em;
    }
  }
  .cart-total {
    p {
      font-size: 1.6em;
    }
  }
  .cart-plant-edit {
    p {
      font-size: 1em;
    }
  }
  .cart-plant-price {
    font-size: 1em;
  }
}
