.cart {
  width: 80%;
  margin: 4em 4em;
  margin-bottom: 2em;
}

.cart-line {
  margin-bottom: 1.4em;
}

.cart-plant-img {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  img {
    display: inline;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 2px;
  }
}

.cart-plant-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  #cart-plant-name {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 0.5em;
  }
  #cart-plant-amount {
    margin-bottom: 0;
  }
}

.cart-plant-edit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    font-size: 1.2em;
    white-space: nowrap;
    border: solid 1px #bfb8af;
    margin-bottom: 0;
    padding: 0.5em 0;
    a {
      text-decoration: none;
      color: $light-black;
      padding: 1.4em 0.6em;
    }
  }
}

.cart-plant-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  p {
    margin-bottom: 0;
  }
}

.add-comment {
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 2em;
  text-align: center;
  .comment-field {
    width: 100%;
    border: solid 1px #bfb8af;
    padding: 1em;
  }
}

.cart-total {
  p {
    color: $green;
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-disclaimer {
  margin: 0 4em;
  text-align: center;
}

#esvaziar {
  margin-bottom: 2em;
  text-align: center;
  a {
    text-decoration: none;
    color: $green;
  }
}

.cart-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
  #continuar-comprando {
    margin-top: 1.6em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: $green;
    }
  }
}

.pedido-finalizado {
  width: 80%;
  margin: 4em 4em;
}

@media screen and (max-width: 520px) {
  .cart {
    margin-left: 3em;
  }
  .cart-plant-info {
    padding-left: 0;
    #cart-plant-name {
      font-size: 1em;
    }
  }
  .cart-total {
    p {
      font-size: 1.6em;
    }
  }
  .cart-plant-edit {
    p {
      font-size: 1em;
    }
  }
  .add-comment {
    margin-left: 3em;
    margin-right: 3em;
  }
  .cart-plant-price {
    font-size: 1em;
  }
}
