// .add-margins (from the tile) is placed in general.scss

.cart {
  margin: 3em 2em 2em 2em;
}

// cart plant (line)

.cart-line {
  margin-bottom: 2em;
}

.cart-plant-img {
  display: flex;
  justify-content: center;
  img {
    display: inline;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 2px;
  }
}

.cart-plant-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  #cart-plant-name {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 0.8em;
  }
  #cart-plant-amount {
    margin-bottom: 0;
  }
}

.cart-plant-edit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    font-size: 1.2em;
    white-space: nowrap;
    border: solid 1px #bfb8af;
    margin-bottom: 0;
    padding: 0.5em 0;
    a {
      text-decoration: none;
      color: $light-black;
      padding: 1.4em 0.6em;
    }
  }
}

.cart-plant-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  p {
    margin-bottom: 0;
    font-weight: bold;
  }
}

// buttons and disclaimers

#esvaziar {
  margin-bottom: 2em;
  text-align: center;
}

.cart-disclaimer {
  margin: 0 2em;
  font-size: 0.8em;
  background-color: #f3f1f1;
  padding: 2em;
  padding-bottom: 1em;
  border-radius: 2px;
}

.cart-total {
  p {
    color: $green;
    font-size: 2em;
    margin-top: 1em;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 4em;
  #continuar-comprando {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 520px) {
  .cart-plant-info {
    #cart-plant-name {
      font-size: 1.2em;
    }
  }
  .cart-total {
    p {
      font-size: 1.6em;
    }
  }
  .cart-plant-edit {
    p {
      font-size: 1em;
    }
  }
  .cart-plant-price {
    font-size: 1.2em;
  }
}
