.orders {
  margin: 2em 2em 0 2em;
}

.order-col1,
.order-col2 {
  margin-bottom: 2em;
  padding: 2em 2em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  a {
    padding-bottom: 1em;
    color: $green;
    text-decoration: underline;
  }
  .order-col-title1,
  .order-col-title2 {
    color: $green;
    padding-bottom: 1em;
  }
}

.order-pay {
  margin: 0 1em;
  margin-bottom: 4em;
  padding: 0;
  display: block;
}
