.plant-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 4em;
  padding-bottom: 6em;
}

.plant-photo {
  margin: 0 6em;
}

.plant-photo img {
  width: 34em;
  height: 50em;
  object-fit: cover;
}

.plant-title {
  display: flex;
  align-items: center;
}

.plant-title i {
  font-size: 1.5em;
  padding-left: 1em;
}

.plant-details {
  padding-right: 6em;
}

.plant-details h1 {
  color: $gray;
} h2 {
    color: black;
    padding-top: 2em;
    font: {
      size: 2em;
    }
  } h3 {
    color: $gray;
    font: {
      style: italic;
    }
  } h4 {
    color: black;
    padding-top: 2em;
    font: {
      weight: bold;
      size: 3em;
    }
  }

@media (max-width: 800px) {
  .plant-container {
    flex-wrap: wrap;
  }
  .plant-photo img {
    width: 80vw;
    height: 30vh;
    object-fit: cover;
  }
  .plant-details {
    margin-top: 2em;
    margin-left: 4em;
  }
}

