<div class="add-margins">
  <h1>Sobre a Nufiu</h1>
  <p>Conheça a nossa história e propósito.</p>
</div>
<div class="static-page-body-with-image">
  <div class="static-page-image">
    <%= cl_image_tag "https://res.cloudinary.com/gustborges/image/upload/v1618349406/nufiu/02_2019-MaluNufiuJardinagem-56_mki2mu.jpg", size: "400x600", fetch_format: :auto %>
  </div>
  <div class="static-page-text">
    <p>Fundada em 2017, a Nufiu é uma empresa localizada no Rio de Janeiro que surgiu a partir do desejo de
      <strong>levar natureza para a casa de quem adora plantas mas não tem tempo ou acaba esquecendo de cuidar</strong>.
    </p>
    <p>A criadora da Nufiu, <strong>Malu Borges</strong>, ao término de uma obra, buscava alternativas para decorar um ambiente de um cliente que tinha dificuldades de cuidar de susa plantas e descobriu as kokedamas. Era a solução perfeita, que acabou virando uma paixão.</p>
    <p><strong>Kokedamas são plantas ornamentais criadas pela tradição japonesa</strong>. São compostas por um arranjo
      que cresce a partir de uma bola de musgo. Elas podem viver como qualquer outra planta e durar anos e anos. Além
      disso, cuidar é muito simples: basta mergulhar essa bola em água fresca por alguns minutinhos, até que as bolinhas de ar que saem da bola cessem completamente. A periodicidade
      pode variar a depender da espécie plantada.</p>
    <p>Nesses quase 4 anos, as encomendas cresceram bastante e, hoje, a Nufiu - nome que faz alusão a essas plantas
      ornamentais japonesas que são enroladas em fios - começa a ampliar seu portifólio de produtos, que
      chegarão ao site em breve. São <strong>terrários, potes e suportes, cursos online e serviços de jardinagem e
        paisagismo</strong>.</p>
    <p><strong>A nossa missão continua a mesma</strong>: levar beleza para o lar de quem adora viver próximo à natureza.
    </p>
    <p>Bem-vinda(o) à Nufiu!</p>
  </div>
</div>