<div class="add-margins">
  <h1>Contato</h1>
  <p>Tem alguma dúvida, sugestão ou um pedido diferente? Fale com a gente!</p>
</div>
<div class="static-page-body">
  <p>Em breve, o formulário de contato será adicionado.</p>
</div>