<div class="add-margins">
  <h1>Entregas</h1>
  <p>Tire suas dúvidas sobre nossas entregas.</p>
</div>
<div class="static-page-body">
  <p>Nossa política de entregas será adicionada em breve, mas atenção: só realizamos entregas na cidade do Rio de Janeiro.</p>
</div>