<div class="add-margins">
  <h1>Perguntas Frequentes (FAQ)</h1>
  <p>Tire suas dúvidas sobre nossos produtos.</p>
</div>
<div class="static-page-body">
  <p>As perguntas e respostas serão publicadas em breve.</p>
</div>