<div class="add-margins">
  <h1>Formas de Pagamento</h1>
  <p>Saiba como realizar os pagamentos dos produtos da Nufiu.</p>
</div>
<div class="static-page-body">
  <p>Pelo site da Nufiu, você pode realizar pagamentos com:</p>
  <ul>
    <li>Cartão de crédito</li>
    <li>Cartão de débito</li>
  </ul>
  <p>Caso precise realizar pagamento de outra forma, <%= link_to "entre em contato conosco", contato_path %>.</p>
</div>