<% content_for :head do %>
    <%= stylesheet_link_tag 'pages/_static_pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<div class="add-margins">
  <h1>Política de Privacidade</h1>
  <p>Seus dados são... seus!</p>
</div>
<div class="static-page-body">
  <p>Estamos elaborando a política de privacidade da Nufiu. É coisa rápida. Em breve, publicaremos nessa página.</p>
</div>