<div class="add-margins">
  <h1>Workshop de Kokedama</h1>
  <p>Você também pode aprender a criar suas próprias kokedamas.</p>
</div>
<div class="static-page-body">
  <p>Já já publicaremos aqui tudo o que você precisa para criar as suas próprias kokedamas.</p>
</div>