<div class="row ml-0 mr-0">
  <div class="col-12 pl-0 pr-0">
    <div class="main-banner">
      <h1>Para cada amor, <br> uma plantinha</h1>
      <p>Elegantes e fáceis de cuidar, nossas kokedamas são a opção ideal de presente para quem você ama.</p>
      <a href="#encontre-kokedamas" class="green-button">Encontre a sua Kokedama</a>
    </div>
  </div>
</div>
<% if !current_user.nil? && current_user.admin %>
  <div class="add-product row">
    <%= link_to "Adicionar itens" , new_plant_path, class: "green-button" %>    
  </div>
<% end %>

<div class="index-plants row">
  <%= render @plants %>
</div>

<%= javascript_pack_tag 'cloudinary' %>
<%= javascript_pack_tag 'smooth_scrolling' %>