<div class="row">
  <div class="col-12">
    <div class="main-banner">
      <h1>Kokedamas</h1>
      <p>As plantas ornamentais japonesas que vão transformar o seu ambiente.</p>
    </div>
  </div>
</div>
<!-- <%# 
<div class="facets">
  <%= render partial: 'facet' %>
</div> 
%> -->

<div class="row justify-content-end mt-5 mr-5 mb-0">
  <% if !current_user.nil? && current_user.admin %>
    <%= link_to "Adicionar itens" , new_plant_path, class: "green-button" %>
      <% end %>
</div>

<div class="index-plants row justify-content-center add-margins-home">
  <%= render partial: 'plant' %>
</div>