<div class="row ml-0 mr-0">
  <div class="col-12 pl-0 pr-0">
    <div class="main-banner">
      <h1>Dia das M찾es</h1>
      <p>Amor e plantinhas s찾o os melhores presentes para a sua m찾e. N처s temos os dois.</p>
      <a href="#plants" class="green-button">Encontre a sua Kokedama</a>
    </div>
  </div>
</div>
<% if !current_user.nil? && current_user.admin %>
  <div class="add-product row">
    <%= link_to "Adicionar itens" , new_plant_path, class: "green-button" %>    
  </div>
<% end %>

<div class="index-plants row">
  <%= render partial: 'plant' %>
</div>

<%= javascript_pack_tag 'cloudinary' %>
<%= javascript_pack_tag 'smooth_scrolling' %>