.main-banner {
  background: url('https://res.cloudinary.com/gustborges/image/upload/v1596926651/nufiu/Banner_lpkl4y.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  padding-left: 6em;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  width: 100vw;
  margin: 0;
}

.main-banner {
  h1 {
    font: {
      size: 6rm;
    }
  }
  p {
    font: {
      size: 3rm;
    }
  }
}
