.banner {
  background: url('Banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  padding-left: 6em;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  width: 100%;
  margin-top: 0;
  }

.banner {
  h1 {
    font: {
      size: 7em;
    }
  }
  p {
    font: {
      size: 3em;
    }
  }
}
