.main-banner {
  background: url("https://res.cloudinary.com/gustborges/image/upload/v1618344464/nufiu/Banner_uwv8cv.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  padding-left: 20px;
  padding-right: 15vw;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 100vw;
  margin: 0;
  min-height: 450px;
}

.main-banner {
  h1 {
    color: white;
    font: {
      size: 7em;
    }
  }
  p {
    color: white;
    font: {
      size: 1.8em;
    }
  }
}

@media (max-width: 800px) {
  .main-banner h1 {
    font-size: 5em;
  }
  .main-banner p {
    font-size: 1.6em;
  }
}

@media (max-width: 570px) {
  .main-banner h1 {
    font-size: 4em;
  }
  .main-banner p {
    font-size: 1.4em;
  }
}
