.green-button {
  font-size: 20px;
  font-weight: bold;
  padding: 0.8em;
  background-color: $green;
  color: white;
  border: none;
  a {
    text-decoration: none;
  }
}

.buy-button {
  margin-top: 2em;
}
