.green-button {
  font-size: 20px;
  font-weight: bold;
  padding: 0.8em 0.8em 0.6em 0.8em;
  background-color: $green;
  color: white;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  &:hover {
    background-color: #029a75;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
  }
}

.buy-button {
  margin-top: 2.6em;
}
