.green-button {
  font-size: 20px;
  font-weight: bold;
  padding: 0.8em 0.8em 0.6em 0.8em;
  background-color: $green;
  color: white;
  border: none;
  text-decoration: none;
  &:hover{
    background-color: #029A75;
    color: white;
  }
}

.buy-button {
  margin-top: 2.6em;
}
