
.plant-card {
  margin: 15px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;

}

.plant-card>a>h5 {
  text-decoration: none;
}

.plant-card-text {
  padding: 6px 14px;
  font-size: 1em;
  text-decoration: none;
}

.card-title {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
}

.card-price {
  color: $gray;
  font-size: 0.8em;
}

.card-img {
  width: 100%;
  border-radius: 4px;
}

.no-decoration, a:link, a:visited {
  text-decoration: none;
}
