.plants-container {
  margin: {
    left: 20px;
    right: 20px;
  }
}

.plants-container {
  a {
    color: black;
    h5 {
      font-size: 15px;
    }
  }
}

.plant-card {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 15px 10px;
}

.plant-card-text {
  padding: 6px 14px;
}

.card-title {
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
}

.card-price {
  margin-bottom: 2px;
  color: $gray;
}


