.plant-card {
  margin: 15px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}

.plant-card-text {
  font-size: 0.8em;
  text-decoration: none;
}

.card-title {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  font-size: 1.2em;
  color: $light-black;
}

.card-price {
  color: $light-black;
  font-size: 1em;
}

.card-img {
  width: 100%;
}

.no-decoration,
a:link,
a:visited {
  text-decoration: none;
}
