// .facets {
//   display: flex;
//   flex-direction: column;
// }
.facet-aligned {
}

.filtrar {
  padding: 1.4em 0;
  background-color: #f8f8f7;
  color: #2d2a24;
  text-align: center;
  .filter-title h6 {
    color: #7d7a75;
    font-size: 1em;
    font-weight: 300;
    padding-top: 0.2em;
  }
  h6 {
    font-size: 1.4em;
  }
  .inline h6 {
    display: inline-block;
    padding-right: 1em;
  }
}

.facets-deck {
  background-color: #f8f8f7;
}

.facetlist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
