.facets {
  background-color: #f8f8f7;
  display: flex;
  justify-content: space-around;
}

.filtrar {
  display: flex;
  align-items: center;
  justify-items: center;
  color: #7d7a75;
}

.facetlist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2em 0;
  h6 {
    font-size: 2em;
  }
  ul {
    list-style-type: none;
    li a {
      text-decoration: none;
      color: $light-black;
    }
  }


}


