.add-margins {
  margin-top: 8em;
  margin-left: 4em;
  p {
    color: $green;
  }
}

.form-container {
  padding-top: 1em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 4em;
}

@media screen and (max-width: 520px) {
  .add-margins {
    margin-left: 3em;
  }
  .form-container {
    padding-left: 3em;
  }
}
